USE [JAVA4_ASM]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 4/22/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [varchar](30) NOT NULL,
	[TENDANHMUC] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINH]    Script Date: 4/22/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [varchar](30) NOT NULL,
	[TENHINH] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/22/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(100,1) NOT NULL,
	[NGAYDAT] [date] NULL,
	[HINHTHUCTT] [bit] NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[MATT] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONCT]    Script Date: 4/22/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [varchar](30) NOT NULL,
	[MAHD] [int] NULL,
	[GIA] [float] NOT NULL,
	[SLMUA] [int] NOT NULL,
	[MASIZE] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/22/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](30) NOT NULL,
	[TENSP] [nvarchar](150) NOT NULL,
	[MOTA] [nvarchar](200) NULL,
	[GIABAN] [float] NOT NULL,
	[MADANHMUC] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 4/22/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [varchar](30) NOT NULL,
	[TENSIZE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SP_SIZE]    Script Date: 4/22/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SP_SIZE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [varchar](30) NOT NULL,
	[MASIZE] [varchar](30) NOT NULL,
	[SLCON] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 4/22/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[MATT] [varchar](30) NOT NULL,
	[TENTT] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 4/22/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[EMAIL] [varchar](100) NOT NULL,
	[MATKHAU] [varchar](100) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [varchar](15) NULL,
	[GIOITINH] [bit] NULL,
	[VAITRO] [bit] NULL,
	[DIACHI] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HINH]  WITH CHECK ADD  CONSTRAINT [FK_HINH_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[HINH] CHECK CONSTRAINT [FK_HINH_SP]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_MATT] FOREIGN KEY([MATT])
REFERENCES [dbo].[TRANGTHAI] ([MATT])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_MATT]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_USER] FOREIGN KEY([EMAIL])
REFERENCES [dbo].[USERS] ([EMAIL])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_USER]
GO
ALTER TABLE [dbo].[HOADONCT]  WITH CHECK ADD  CONSTRAINT [FK_HDCT_HD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[HOADONCT] CHECK CONSTRAINT [FK_HDCT_HD]
GO
ALTER TABLE [dbo].[HOADONCT]  WITH CHECK ADD  CONSTRAINT [FK_HDCT_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[HOADONCT] CHECK CONSTRAINT [FK_HDCT_SANPHAM]
GO
ALTER TABLE [dbo].[HOADONCT]  WITH CHECK ADD  CONSTRAINT [FK_HDCT_SIZE] FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[HOADONCT] CHECK CONSTRAINT [FK_HDCT_SIZE]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DANHMUCCT] FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DANHMUCCT]
GO
ALTER TABLE [dbo].[SP_SIZE]  WITH CHECK ADD  CONSTRAINT [FK_SPSIZE_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SP_SIZE] CHECK CONSTRAINT [FK_SPSIZE_SANPHAM]
GO
ALTER TABLE [dbo].[SP_SIZE]  WITH CHECK ADD  CONSTRAINT [FK_SPSIZE_SIZE] FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[SP_SIZE] CHECK CONSTRAINT [FK_SPSIZE_SIZE]
GO
/****** Object:  StoredProcedure [dbo].[SP_FINDM]    Script Date: 4/22/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_FINDM]
@MADM VARCHAR(50), @KHOANGGIA INT, @SAPXEP INT
AS
BEGIN
DECLARE @MINGIA FLOAT
DECLARE @MAXGIA FLOAT
	IF (@MADM = '') BEGIN SET @MADM = '%' END

	IF (@KHOANGGIA = 0) 
	BEGIN
		SELECT @MINGIA= MIN(GIABAN),@MAXGIA=MAX(GIABAN) FROM SANPHAM
	END
	IF(@KHOANGGIA = 1)
	BEGIN
		SET @MINGIA = 0
		SET @MAXGIA = 100000
	END
	IF(@KHOANGGIA = 2)
	BEGIN
		SET @MINGIA = 100000
		SET @MAXGIA = 300000
	END
	IF(@KHOANGGIA = 3)
	BEGIN
		SET @MINGIA = 300000
		SET @MAXGIA = 1000000
	END
	IF(@KHOANGGIA = 4)
	BEGIN
		SET @MINGIA = 1000000
		SELECT @MAXGIA=MAX(GIABAN) FROM SANPHAM
	END
	IF(@SAPXEP = 0)
	BEGIN
		SELECT * FROM SANPHAM
		WHERE MADANHMUC LIKE @MADM AND GIABAN BETWEEN @MINGIA AND @MAXGIA
	END
	IF(@SAPXEP = 1)
	BEGIN
		SELECT * FROM SANPHAM
		WHERE MADANHMUC LIKE @MADM AND GIABAN BETWEEN @MINGIA AND @MAXGIA
		ORDER BY GIABAN DESC
	END
	IF(@SAPXEP = 2)
	BEGIN
		SELECT * FROM SANPHAM
		WHERE MADANHMUC LIKE @MADM AND GIABAN BETWEEN @MINGIA AND @MAXGIA
		ORDER BY GIABAN ASC
	END
END
GO
